---
import BaseLayoutES from "@layouts/BaseLayoutES.astro";
import { Formulario } from "@components/ComponetesES/Formulario";
const pageTitle = 'Contáctanos'
// TODO: descripcion
const description = "Contáctanos"
//TODO: keywords
const keywords=["empresa desarrollo"]
const url = "contactanos"
import { VITE_BACK_URL } from 'astro:env/server';
---

<BaseLayoutES pageTitle={pageTitle} description={description} keywords={keywords} url={url}>
    <h1 class="font-[600] text-[24px] text-[#FFF] mt-16 md:-ml-12 px-[30px] md:px-40">
        Contáctanos
      </h1>
    <p class="font-[600] text-[24px] text-center leading-[31.19px] mt-24 text-gradient-animated" data-aos="zoom-in">Lleva tu empresa a la cumbre virtual.</p>
    <div class="mt-14 md:mt-28 flex justify-center items-center" data-aos="zoom-out">
        <Formulario client:load BACK_URL={VITE_BACK_URL} />
    </div>
</BaseLayoutES>